include mim_core/components/AnswerEngine/models/*
exclude mim_core/components/AnswerEngine/models/*.pickle
include mim_core/components/QuestionAnalysis/models/bart_model/*
exclude mim_core/components/QuestionAnalysis/models/bart_model/*.ckpt
include mim_core/components/QuestionAnalysis/models/bart_model/best_tfmr/*
exclude mim_core/components/QuestionAnalysis/models/bart_model/best_tfmr/pytorch_model.bin
include mim_core/components/QuestionAnalysis/models/t5_model/*
exclude mim_core/components/QuestionAnalysis/models/t5_model/pytorch_model.bin
include mim_core/components/QuestionAnalysis/models/t5_high_level_model/*
exclude mim_core/components/QuestionAnalysis/models/t5_high_level_model/pytorch_model.bin
include mim_core/components/QuestionAnalysis/models/bart_qg_model/*
exclude mim_core/components/QuestionAnalysis/models/bart_qg_model/*.ckpt
include mim_core/components/QuestionAnalysis/models/bart_qg_model/best_tfmr/*
exclude mim_core/components/QuestionAnalysis/models/bart_qg_model/best_tfmr/pytorch_model.bin
include mim_core/components/QuestionAnalysis/models/distilbert_trec_model/*
exclude mim_core/components/QuestionAnalysis/models/distilbert_trec_model/pytorch_model.bin
include mim_core/components/QuestionAnalysis/models/distilbert_trec_ten_model/*
exclude mim_core/components/QuestionAnalysis/models/distilbert_trec_ten_model/pytorch_model.bin
include mim_core/components/QuestionAnalysis/models/distilbert_complex_question_model/*
exclude mim_core/components/QuestionAnalysis/models/distilbert_complex_question_model/pytorch_model.bin
include mim_core/components/QuestionAnalysis/models/distilbert_complex_question_new_model/*
exclude mim_core/components/QuestionAnalysis/models/distilbert_complex_question_new_model/pytorch_model.bin
include mim_core/components/QuestionAnalysis/models/distilbert_complex_question_model_v3/*
exclude mim_core/components/QuestionAnalysis/models/distilbert_complex_question_model_v3/pytorch_model.bin
include mim_core/components/QuestionAnalysis/data/human_roots.txt
include mim_core/components/Search/models/*
include mim_core/components/Search/models/roberta_base_boolq_model/*
exclude mim_core/components/Search/models/roberta_base_boolq_model/pytorch_model.bin
include mim_core/components/Search/models/roberta_base_hotpot_easy_model/*
exclude mim_core/components/Search/models/roberta_base_hotpot_easy_model/pytorch_model.bin
include mim_core/components/Search/indices/*
exclude mim_core/components/Search/indices/*.npz
include mim_core/components/Search/data/*
include requirements.txt
graft flaskr/static
graft flaskr/templates
global-exclude *.pyc
