html { font-family: Helvetica; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: Helvetica; color: #FF3D3D ; margin: 1rem 0; text-align: center; font-size: 50px}
a { color: #ffffff; }
hr { border: none; border-top: 1px solid #FF3D3D ; }
nav { background: #FF3D3D ; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
/*.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }*/
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #FF3D3D ; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
/*.post > header h1 { font-size: 1.5em; margin-bottom: 0; }*/
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
/*.content form { margin: 1em 0; display: flex; flex-direction: column; }*/
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
/*input.danger { color: #cc2f2e; }*/
/*input[type=submit] { align-self: start; min-width: 10em; }*/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #FF3D3D ; /*#eee; */
  color: #ffffff; /*#444; */
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion p {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #DF3434; /* #ccc; */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.plan_items {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.plan_items th, .plan_items tr {
  border: 1px solid #ddd;
  padding: 8px;
}

.plan_items th {
    float: left;
    display: inline;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.plan_items tr:nth-child(even) {
    background-color: #ffede6;
}

/* Search Bar Styling */
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #FF3D3D ;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #DF3434 ;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Answer Field Styling */
.answer_field p {
  font-family: Helvetica;
  color: #FF3D3D ;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.question_field p {
  font-family: Helvetica;
  color: #000000;
  font-size: 15px;
  text-align: center;
}