{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}MimIR{% endblock %}</h1>
{% endblock %}

{% block content %}
    <br>

    <form method="POST" class="example">
        <input type="text" name="question_box" placeholder="Ask a question..."></input>
        <button type="submit" name="submit_button"><i class="fa fa-search"></i></button>
    </form>
    <br>

    <div class="question_field">
        <p>{{question}}</p>
    </div>

    <div class="answer_field">
        <p class="">{{answer_field}}</p>
        <br><br>
    </div>

    <div class="">
        {% for step in steps %}
            <button class="accordion"><p>Step {{loop.index}}</p>{{step.generated_question}}</button>
            <div class="panel">
                    <table class="plan_items">
                        <tr>
                            <th>Step Type</th>
                            <th>{{step.step_type}}</th>
                        </tr>
                        <tr>
                            <th>QDMR</th>
                            <th>{{step.qdmr}}</th>
                        </tr>
                        <tr>
                            <th>Operator Type</th>
                            <th>{{step.operator_type}}</th>
                        </tr>
                        <tr>
                            <th>Operator Subtype</th>
                            <th>{{step.operator_subtype}}</th>
                        </tr>
                        <tr>
                            <th>Generated Question</th>
                            <th>{{step.generated_question}}</th>
                        </tr>
                        <tr>
                            <th>Entities</th>
                            <th>{{step.entities}}</th>
                        </tr>
                        <tr>
                            <th>Answer Type</th>
                            <th>{{step.answer_type}}</th>
                        </tr>
                    </table>
            </div>
        {% endfor %}
    </div>

{% endblock %}
